# Configuración del servidor
NODE_ENV=development
PORT=3333

# Base de datos MongoDB
MONGO_URL=mongodb://localhost:27017/ltijs

# Clave de cifrado LTI
LTI_KEY=LTIKEY

# Configuración de la plataforma Blackboard
PLATFORM_URL=https://blackboard.com
CLIENT_ID=48dd70cc-ab62-4fbd-ba91-d3d984644373
DEPLOYMENT_ID=2b286722-4ef6-4dda-a756-eec5dca12441
AUTH_ENDPOINT=https://udla-staging.blackboard.com/learn/api/public/v1/oidc/authorize
TOKEN_ENDPOINT=https://udla-staging.blackboard.com/learn/api/public/v1/oidc/token
JWKS_ENDPOINT=https://udla-staging.blackboard.com/learn/api/public/v1/oidc/jwks

# Configuración de WordPress
WORDPRESS_URL=https://tudominio.com
WORDPRESS_USER=tu_usuario_wp
WORDPRESS_PASSWORD=tu_password_wp_application